<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Loan</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">


    
    
    <!-- Custom styles for this template -->
    <link href="css/addloan.css" rel="stylesheet">
  </head>
  <body class="bg-body-tertiary">
    <div class="loading"></div>
<div class="container" id="main-content">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="https://static.vecteezy.com/system/resources/previews/012/042/292/original/warning-sign-icon-transparent-background-free-png.png" alt="" width="72">
      <h2>Add a Loan</h2>
      <!-- <p class="lead">Below is an example form built entirely with Bootstraps form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p> -->
    </div>

    
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Loan Details</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">

            <div class="col-12">
              <label for="name" class="form-label">Name</label>
              <select name="name" class="form-select" id="name" required>
                <option value="">Choose...</option>
                <% for (let key in chooseUser) { %>
                    <option value="<%= key %>"><%= chooseUser[key] %></option>
                  <% } %>
                
              </select>
              <div class="invalid-feedback">
                Please select a valid name.
              </div>
              </div>
            </div>

            <div class="col-12">
              <label for="description" class="form-label">Description</label>
              <input type="text" class="form-control" name="description" id="desc" placeholder="Description">
              <div class="invalid-feedback">
                Please enter a valid description.
              </div>
            </div>

            <!-- <div class="col-12">
              <label for="amount" class="form-label">Amount</label>
              <input type="text" class="form-control" name="amount" id="amount" placeholder="Amount" required>
              <div class="invalid-feedback">
                Please enter a valid amount.
              </div>
            </div> -->
            <div class="col-12">
              <label for="amount" class="form-label">Amount</label>
              <input type="number" class="form-control" name="amount" id="amount" placeholder="0.00">
              <div class="invalid-feedback">
                Please enter a valid amount.
              </div>
            </div>

      

            <button id='submit-btn' class="btn btn-primary btn-lg main-btn" type="submit">Confirm </button>

          </div>

          <!-- <hr class="my-4"> -->
          
          
        </form>
      </div>
    </div>
  </main>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>

<script>

const form = document.querySelector('form');

const loading = document.querySelector('.loading');
const mainContent = document.getElementById('main-content');
    form.addEventListener('submit',async (e) => {
        e.preventDefault();

        const submit_btn = document.querySelector('#submit-btn')

    const name = form.name.value;
    const description = form.description.value;
    const amount = form.amount.value;

      if (description === '') {
        const descInput = document.querySelector('#desc');
        descInput.setCustomValidity("Invalid field.");
      }

      if (description !== '') {
        const descInput = document.querySelector('#desc');
        descInput.setCustomValidity("");
      }

      

      if (name != '' && description != '' && amount != '' && amount != 0) {

        loading.style.display = 'flex';
        mainContent.style.display = 'none';
        // console.log('hi1');
        try {
          const res = await fetch('/addloan',{
              method: 'POST',
              body: JSON.stringify({name:name,description:description,amount:amount}),
              headers: {'Content-Type' : 'application/json'}
          });
          // console.log('hi2');
          const data = await res.json();
          // console.log(data);
          loading.style.display = 'none';
          mainContent.style.display = '';

          if (data?.err) {
              alert(data.err);
          }

          if (data?.success) {
            console.log(data.success);
            submit_btn.disabled = true;
            location.reload();
          }

          // if (data.user) {
          //   location.assign('/');
          // }
      } catch (err) {
          console.log(err);
      }
      }
    });
</script>

<script src="js/addloan.js"></script>
  </body>
</html>
