<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments</title>
    <!-- Styles -->
	<link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/paymentSuccess.css">
</head>
<body>
    <div class="card card-info">
            <img class="img-icon" src="images/successful.png">
            <h2 class="amount-txt">Payment</h2>
            <h3 class="amount-txt2">SUCCESSFUL</h3>
    </div>

    <script>
       window.addEventListener('load',(e) => {
        setTimeout(() => {
            location.assign('/');
        },5000);
       }) 
    </script>
</body>
</html>