.container {
  max-width: 960px;
  padding: 2% 6%;
}

.main-btn {
  
  margin: 4% 0 2%;
}

.loading {
  display: none;
  justify-content: center;
}

.loading::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 15px solid #dddddd;
  border-top-color: #009579;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
